
{% extends "admin.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
     
    <script type="text/javascript">
      var m={{ messages|safe }};
      for(var i=0;i<m.length;i++)
      {
        alert(m[i]);
      }
    </script>
    


  {% endif %}
{% endwith %}








<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Sno</th>
                <th>Title</th>
                <th></th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                <td>{{loop.index}}</td>
                <td><a href="{{url_for('display',sno=d[0])}}" style="font-size:20px;">{{d[1]}}</a></td>
                
                  <td>
                  <form action="{{url_for('accept')}}" method="POST">
                  <button value={{d[0]}} name="accept">Accept</button>
                  </form>
                </td>

                


            </tr>
            {% endfor %}

        </tbody>
</table>


<script type="text/javascript">

  $(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );

</script>

{% endblock %}