
{% extends "layout1.html" %}

{% block content %}

<style>
 
body  
{  
background-image: url({{ url_for('static', filename='new4.jpeg') }})  
} 
</style>

<h1>Edit  page</h1>
  <form class="form-horizontal" action="{{url_for('update')}}" method="POST">

  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Title:</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="title" 
      name="title" value="{{data[0][1]}}" placeholder="Enter title">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Content:</label>
    <div class="col-sm-6">
      <textarea class="form-control" id="content" rows="10" cols="10"
      name="content" placeholder="Enter content">{{data[0][2]}}</textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Tags:</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="tags" 
      name="tags" value="{{data[0][3]}}" placeholder="Enter tags">
    </div>
  </div>
    
  
  
   <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" value={{data[0][0]}} name='id'>Submit</button>
    </div>
  </div>
</form>
{% endblock %}