
{% extends "layout.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
     
    <script type="text/javascript">
      var m={{ messages|safe }}
      for(var i=0;i<m.length;i++)
      {
        alert(m[i]);
      }
    </script>
    


  {% endif %}
{% endwith %}


<html>
<head>
  
<style>
 
body  
{  
background-image: url({{ url_for('static', filename='new4.jpeg') }})  
}  

h1 {
  text-align: center;
  color: red;
  font-size:40px;
}
ul.b {
  list-style-type: square;
}


</style>
</head>

<body>





<h1 style="color:red;font-size:40px;">Welcome to Authors blog!!</h1>

          
          <ul class="b"> 
            {% for d in data %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              
               <li><u><a href="{{url_for('display',sno=d[0])}}" style="font-size:20px;">{{d[1]}}</a></u>&nbsp;&nbsp;&nbsp;-----by {{d[6]}}</li>
               
            {% endfor %}
            

  </body>      




{% endblock %}
