{% extends "layout1.html" %}



{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
     
 

    <script type="text/javascript">
      var m={{ messages|safe }};
      for(var i=0;i<m.length;i++)
      {
        alert(m[i]);
      }
    </script>
    


  {% endif %}
{% endwith %}


<!DOCTYPE html>
<html>
<head>
<style>
body  
{  
background-image: url({{ url_for('static', filename='hello.jpg') }});

}
</style>
</head>
<body>

<h1 style="color:White;">Hello "{{session['name']}}"!!</h1>


</body>
</html>

	
	




{% endblock %}